<%= simple_form_for @recipe do |f| %>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :name, placeholder: 'e.g Carbonara' %>
    </div>
    <div class="col-xs-6">
      <%= f.input :cuisine, placeholder: 'e.g Italian' %>
    </div>
  </div>

  <%= f.input :description, placeholder: 'Short description of your recipe' %>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :duration, placeholder: 'mins' %>
    </div>
    <div class="col-xs-6">
      <%= f.input :servings, placeholder: 'How many can eat?' %>
    </div>
  </div>

  <%= f.input :method, placeholder: 'Instructions to cook your recipe' %>
  <div id="quantities">
    <%= f.simple_fields_for :quantities do |q| %>
        <%= render 'quantity_fields', f: q %>
        <div class="links">
          <%= link_to_add_association 'add ingredient', f, :quantities, class: 'btn btn-success full-width-q', id: 'add-new-quantity' %>
        </div>
    <% end %>
  </div>
  <br>
  <%= f.input :photo %>
  <div class="text-center">
    <%= f.button :submit, class: 'full-width' %>
  </div>
<% end %>

<br>
<br>
<br>
