<%= simple_form_for @recipe do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :duration %>
  <%= f.input :cuisine %>
  <%= f.input :servings %>
  <%= f.input :photo %>
  <%= f.fields_for :quantities do |q| %>
    <%= q.association :ingredient %>
    <%= q.input :quantity %>
  <% end %>
  <div class="text-center">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
