<div class="col-xs-12 col-sm-6 col-lg-4">
  <%= link_to recipe_path(recipe) do %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(recipe.photo? ? recipe.photo : 'https://kitt.lewagon.com/placeholder/cities/shanghai') %>');">
      <div class="card-category">
        <%= recipe.name %>
      </div>
      <div class="card-servings">
        <%= image_tag('cutlery.svg', size: "30x30", alt: "Servings", class: "cut") %> <%= recipe.servings %>
      </div>
      <div class="card-duration">
        <%= recipe.duration %>min<%= image_tag('hourglass.svg', size: "30x30", alt: "Duration") %>
      </div>
      <% if recipe.favourited?(user) %>
        <div class="card-favourite">
          <%= image_tag('full-star.png', size: "30x30", alt: "Favourite") %>
        </div>
      <% else %>
        <div class="card-favourite">
          <%= image_tag('empty-star.png', size: "30x30", alt: "Favourite") %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
