<div class="col-xs-12 col-sm-6 col-lg-4 index-card">
  <div class="card" style="background-image: url('<%= cl_image_path(recipe.photo? ? recipe.photo : 'https://kitt.lewagon.com/placeholder/cities/shanghai') %>');">
    <div class="card-gradient">
      <div class="card-category">
        <%= recipe.name %>
      </div>
      <div class="card-info">
        <div class="card-servings">
          <%= image_tag('larder-icon-servings.svg', size: "20x20", alt: "Servings", class: "cut") %> <%= recipe.servings %> servings
        </div>
        <div class="card-duration">
          <%= image_tag('larder-icon-duration.svg', size: "20x20", alt: "Duration") %><%= recipe.duration %> min
        </div>
      </div>
      <div class="card-favourite" id="recipe-<%= recipe.id %>">
        <%= render 'favourites/favourite_button', favourite: user.favourite_for(recipe), recipe: recipe %>
      </div>
    </div>
    <%= link_to '', recipe_path(recipe), class: 'card-link' %>
  </div>
</div>
