<% content_for(:title, 'Larder\'s recipes') %>

<%= form_with url: recipes_path, method: :get, remote: true do |f| %>
  <%= f.text_field :query, value: params[:query], class: 'form-control', id: 'inputSeach', autofocus: true, autocomplete: "off" %>
  <%= f.submit 'Search', class: 'btn btn-primary hidden', id: 'submitSeachButton' %>
<% end %>


<div class="container cards">
  <%= render 'recipes/recipes_container', recipes: @recipes, user: @user %>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'recipe_index' %>
<% end %>

