<%= simple_form_for Recipe.new, url: recipes_path, method: :get do |f| %>
  <%= f.association :ingredients, selected: params.dig(:recipe, :ingredient_ids), include_blank: false, include_hidden: false %>
  <%= f.submit 'Search', class: 'btn btn-primary' %>
<% end %>

<!-- set the form to go back to the recipes path but edit the method back to get to load index not the create action-->
<!-- then add a text field tag for the search to display instance variable of search (in the recipes controller) and if there is nothing have a placeholder in the search box -->
<!--  create the button for someone to submit with bootstrap-->

<div class="container cards">
  <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-xs-12">
          <%= link_to recipe_path(recipe) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category"><%= recipe.name %></div>
                <div class="card-servings">
                  <%= image_tag('cutlery.svg', size: "30x30", alt: "Servings") %><p><%= recipe.servings %></p>
                </div>
                <div class="card-duration">
                  <p><%= recipe.duration %></p><%= image_tag('hourglass.svg', size: "30x30", alt: "Duration") %>
                </div>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            </div>
          <% end %>
        </div>
      <% end %>
   </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'home_search' %>
<% end %>
