<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @recipe.photo %>);">
  <div class="banner-content">
    <h1 class="text-center"><%= @recipe.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2><%= @recipe.description %></h2>
    <p>Duration - <%= @recipe.duration %> mins</p>
  </div>
</div>

<!-- if recipe is not one of your favourites, display:  -->
<div class="form-inline text-center">
  <%= render 'favourites/form_favourites' %>
</div>

<!-- if recipe IS a favourite, display:  -->
<div class="form-inline text-center">
  <%= link_to favourite_path(@user.favourite_for(@recipe)), method: :delete, data: { confirm: 'Are you sure?'} do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  <% end %>
</div>


<%= content_for(:after_js) do %>
  <script>
  function bindSweetAlertButtonDemo() {
    document.getElementById('sweet-alert-demo').addEventListener('click', () => {
      swal({
        title: "Awesome!",
        text: "Recipe added to your dashboard",
        icon: "success"
      })
    });
  }
  bindSweetAlertButtonDemo();
  let createBtn = document.getElementById('sweet-alert-demo')
  createBtn.addEventListener('click', () => {
    document.body.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/dashboard";
    })
  })
  </script>
<% end %>
