<% content_for(:title, @recipe.name) %>


<div class="recipe-header">
    <div class="card" style="background-image: url(<%= @recipe.photo %>);">
      <div class="card-gradient">
        <div class="card-category">
          <%= @recipe.name %>
        </div>
        <div class="card-info">
          <div class="card-servings">
            <%= image_tag('Larder-icon-servings', size: "20x20", alt: "Servings", class: "cut") %> <%= @recipe.servings %> servings
          </div>
          <div class="card-duration">
            <%= image_tag('Larder-icon-duration', size: "20x20", alt: "Duration") %> <%= @recipe.duration %> min
          </div>
        </div>

        <div class="card-favourite" id="recipe-<%= @recipe.id %>">
          <% if current_user %>
            <%= render 'favourites/favourite_button', favourite: current_user.favourite_for(@recipe), recipe: @recipe %>
          <% else %>
            <%= render 'favourites/favourite_button_not_logged_in' %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div class="wrapper" style="height:56px;">
  <div class="tbs">
    <a class="tb active" id="tab-ingredients" href="#">
      <p> Ingredients </p>
    </a>
    <a class="tb" id="tab-method" href="#">
      <p> Method </p>
    </a>
  </div>
</div>

<div class="recipe-details">
  <div id="cont-ingredients">
    <div class="recipe-desc">
      <h2> Description </h2>
      <p> <%= @recipe.description %></p>
    </div>
    <div class="ingredient-names">
      <h2> Ingredients </h2>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="cont-method" class="hidden">
    <div class="recipe-method">
      <h2> Method </h2>
      <p> <%= @recipe.method %> </p>
    </div>
  </div>
</div>



<%= content_for(:after_js) do %>
  <script>
  function bindSweetAlertButtonDemo() {
    document.getElementById('sweet-alert-demo').addEventListener('click', () => {
      swal({
        title: "Awesome!",
        text: "Recipe added to your dashboard",
        icon: "success"
      })
    });
  }
  bindSweetAlertButtonDemo();
  let createBtn = document.getElementById('sweet-alert-demo')
  createBtn.addEventListener('click', () => {
    document.body.addEventListener('click', () => {
      window.location.href = "/dashboard";
    })
  })
  </script>
  <script>


  let ingredients = document.getElementById('cont-ingredients');
  let method = document.getElementById('cont-method');
  let tabIngredients = document.getElementById('tab-ingredients');
  let tabMethod = document.getElementById('tab-method');

  tabIngredients.addEventListener("click", (event) => {
    event.preventDefault();
    ingredients.classList.add("show");
    ingredients.classList.remove('hidden');
    method.classList.remove('show');
    method.classList.add('hidden');
    tabIngredients.classList.add("active");
    tabMethod.classList.remove("active");

  });

  tabMethod.addEventListener('click', (event) => {
    event.preventDefault();
    ingredients.classList.add("hidden");
    ingredients.classList.remove('show');
    method.classList.remove('hidden');
    method.classList.add('show');
    tabIngredients.classList.remove("active");
    tabMethod.classList.add("active");
  })
</script>

<% end %>
