<% content_for(:title, @recipe.name) %>

<div class="half-screen" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @recipe.photo %>);">
  <div class="banner-content">
    <div class="card-category">
      <%= @recipe.name %>
    </div>
    <div class="card-servings">
      <%= image_tag('cutlery.svg', size: "30x30", alt: "Servings", class: "cut") %> <%= @recipe.servings %>
    </div>
    <div class="card-duration">
      <%= @recipe.duration %>min<%= image_tag('hourglass.svg', size: "30x30", alt: "Duration") %>
    </div>

    <div class="card-favourite">
      <% if @favourite_recipes_id.include?(@recipe.id) %>
          <%= link_to favourite_path(current_user.favourite_for(@recipe)), method: :delete do %>
            <%= image_tag("full-star.png", size: "30x30", alt: "Favourited") %>
          <% end %>
      <% else %>
        <% if @recipe != current_user.favourite_for(@recipe)&.recipe %>
          <%= render 'favourites/form_favourites' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.name  %>
    </li>
    <% end %>
    </ul>
    <h6><%= @recipe.method %></h6>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
  function bindSweetAlertButtonDemo() {
    document.getElementById('sweet-alert-demo').addEventListener('click', () => {
      swal({
        title: "Awesome!",
        text: "Recipe added to your dashboard",
        icon: "success"
      })
    });
  }
  bindSweetAlertButtonDemo();
  let createBtn = document.getElementById('sweet-alert-demo')
  createBtn.addEventListener('click', () => {
    document.body.addEventListener('click', () => {
      window.location.href = "/dashboard";
    })
  })
  </script>
<% end %>
