<% content_for(:title, @recipe.name) %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @recipe.photo %>);">
  <div class="banner-content">
    <h1 class="text-center"><%= @recipe.name %></h1>
    <p><%= @recipe.cuisine %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2><%= @recipe.description %></h2>
  </div>
</div>

<% if @recipe != @user.favourite_for(@recipe).recipe %>
  <div class="form-inline text-center">
    <%= render 'favourites/form_favourites' %>
  </div>
<% else %>
  <div class="form-inline text-center">
    <%= link_to favourite_path(@user.favourite_for(@recipe)), method: :delete, data: { confirm: 'Are you sure?'} do %>
      <button>remove favourite</button>
    <% end %>
  </div>
<% end %>

<%= content_for(:after_js) do %>
  <script>
  function bindSweetAlertButtonDemo() {
    document.getElementById('sweet-alert-demo').addEventListener('click', () => {
      swal({
        title: "Awesome!",
        text: "Recipe added to your dashboard",
        icon: "success"
      })
    });
  }
  bindSweetAlertButtonDemo();
  let createBtn = document.getElementById('sweet-alert-demo')
  createBtn.addEventListener('click', () => {
    document.body.addEventListener('click', () => {
      window.location.href = "http://localhost:3000/dashboard";
    })
  })
  </script>
<% end %>
