<% content_for(:title, @recipe.name) %>

<div class="half-screen" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @recipe.photo %>);">
  <div class="banner-content">
    <div class="card-category">
      <%= @recipe.name %>
    </div>
    <div class="card-servings">
      <%= image_tag('cutlery.svg', size: "30x30", alt: "Servings", class: "cut") %> <%= @recipe.servings %>
    </div>
    <div class="card-duration">
      <%= @recipe.duration %>min<%= image_tag('hourglass.svg', size: "30x30", alt: "Duration") %>
    </div>

    <div class="card-favourite">
      <% if @favourite_recipes_id.include?(@recipe.id) %>
          <%= link_to favourite_path(current_user.favourite_for(@recipe)), method: :delete do %>
            <%= image_tag("full-star.png", size: "30x30", alt: "Favourited") %>
          <% end %>
      <% else %>
        <% if @recipe != current_user.favourite_for(@recipe)&.recipe %>
          <%= render 'favourites/form_favourites' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="recipe-info-container">
  <div class="recipe-desc">
    <h2> Description </h2>
    <p> <%= @recipe.description %>
  </div>
  <div class="ingredient-names">
    <ul>
      <% @recipe.ingredients do |ingredient| %>
      <li>
        <h3> <%= ingredient.name %></h3>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="recipe-method">
    <h4> Method </h4>
    <p> <%= @recipe.method %> </p>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
  function bindSweetAlertButtonDemo() {
    document.getElementById('sweet-alert-demo').addEventListener('click', () => {
      swal({
        title: "Awesome!",
        text: "Recipe added to your dashboard",
        icon: "success"
      })
    });
  }
  bindSweetAlertButtonDemo();
  let createBtn = document.getElementById('sweet-alert-demo')
  createBtn.addEventListener('click', () => {
    document.body.addEventListener('click', () => {
      window.location.href = "/dashboard";
    })
  })
  </script>
<% end %>
