<div class="footer">
  <div class="footer-links">
   <!--  <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a> -->
    <%= link_to "/dashboard", class: "footer-star-icon" do %>
    <%= image_tag "empty-star.png" %>
    <% end %>
    <%= link_to root_path, class: "footer-recipe-icon" do %>
    <%= image_tag "Larder-icon-logo.svg" %>
    <% end %>
    <%= link_to "/users/edit", class: "footer-user-icon" do %>
    <%= image_tag "user-white.png" %>
  <% end %>
  </div>
</div>
