<% content_for(:title, 'My Larder') %>

<div class="container dashboard-info text-center">
  <div class="dropdown float-right">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" id="icon-white" ></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/users/edit">Edit profile</a></li>
        <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </ul>
  </div>
  <div class="row">
    <div class="text-center">
      <div class="dashboard-pic">
        <%= cl_image_tag current_user.photo_url, class: 'img-circle', size: '80x80'%>
      </div>
      <div class="dashboard-name">
        <% full_name = current_user.first_name + " " + current_user.last_name %>
        <%= full_name %>
      </div>

    </div>
  </div>
</div>

<div class="wrapper">
  <div class="tbs">
    <a class="tb active" id="tb-favourite" href="#">
      <p>Favourites</p>
    </a>
    <a class="tb" id="tb-recipe" href="#">
      <p>Your recipes</p>
    </a>
  </div>

  <div class="container" id="cont-favourite">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-xs-12 col-sm-6 col-lg-4 index-card">
          <%= render 'recipes/recipe_card', recipe: recipe, user: current_user %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container hidden" id="cont-recipe">
    <div class="col-xs-12 col-lg-12 offset-lg-1"
      <div class="text-center">
        <%= link_to new_recipe_path do %>
            <i class="fa fa-plus-square" aria-hidden="true"></i> Add your own recipe
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @user.recipes.each do |recipe| %>
        <div class="col-xs-12 col-sm-6 col-lg-4 index-card">
          <%= render 'recipes/recipe_card', recipe: recipe, user: current_user %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<script>
  let favourite = document.getElementById('cont-favourite');
  let recipe = document.getElementById('cont-recipe');
  let tabFav = document.getElementById('tb-favourite');
  let tabRecipe = document.getElementById('tb-recipe');

  tabFav.addEventListener("click", () => {
    favourite.classList.add("show");
    favourite.classList.remove('hidden');
    recipe.classList.remove('show');
    recipe.classList.add('hidden');
    tabFav.classList.add("active");
    tabRecipe.classList.remove("active");
  });

  tabRecipe.addEventListener('click', () => {
    favourite.classList.add("hidden");
    favourite.classList.remove('show');
    recipe.classList.remove('hidden');
    recipe.classList.add('show');
    tabFav.classList.remove("active");
    tabRecipe.classList.add("active");
  })
</script>
